* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login-container-form {
  max-width: 350px;
  margin: 0 auto;
  padding-top: 150px;
}
.login-form {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.login-form-button {
  width: 100%;
}
.login-form-forgot {
  float: right;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 12px;
}

.card-title-container {
  margin-right: 12px;
}

.search-container {
  margin-left: 12px;
}
